*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
}

img{
    max-width: 100%;
}

.debug{
    background-color: aqua;

    *{border: 1px dashed;}
    
    header{
        background-color: blueviolet;
    }

}


.top{
    background-color: #222222;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.logo{
    height: 50px;
}


.btn-navbar{
    color: white;
    text-decoration: none;
}



.search-ms{
    background-color: #464646;
    color: gray;
    border: none;
    border-radius: 2px ;
    padding: 15px;
    width: 300px;
}


.mid{
    background-color: #2b2b2b;
    padding: 20px;
}

.add-gn{
    background-color: #2b2b2b;
    color: lightslategray;
    border: 1px solid;
    border-radius: 20px;
    padding: 8px;
    width: 400px;   
}


.bottom{
    
    background-color: #222222;
    display: flex;

   

    .left{
        width: 70%;
        overflow-y: auto;
    }
    
    .right{
        width: 30%;
    }

}


.container-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .col{
        width: calc(100%/4);
        height: 350px;
        padding: 1rem;
    }
}

.img-playlist{
    border: 1px solid grey;
}


.img-play{
    padding: 1rem;
    width: 30rem;
}

.cl-gray{
    color: lightslategrey;
}

.text{
    color: white;
    font-size: 14px;
}




@media screen and (max-width: 744px){
    
}


@media screen and (max-width: 600px){
    
}