*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
}

img{
    max-width: 100%;
}

body{
    background-color: #222222;
}


.top{
    background-color: #222222;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
    margin-left: 20px;
}

.inp-ser{
    display: flex;

}

.btn-sign-login{
    display: flex;
    gap: 20px;
    margin-right: 50px;
    height: 30px;
}

.btn-navbar:hover{
    background-color: lightslategray;
}

.btn-navbar{
    color: white;
    text-decoration: none;
}



.search-ms{
    background-color: #464646;
    color: gray;
    border: none;
    border-radius: 2px ;
    padding: 15px;
    width: 300px;
    margin-left: 20px;
}


.mid{
    background-color: #2b2b2b;
    padding: 20px;
}

.add-gn{
    background-color: #2b2b2b;
    color: lightslategray;
    border: 1px solid;
    border-radius: 20px;
    padding: 8px;
    width: 400px; 
    margin-left: 20px;  
}


.bottom{
    
    background-color: #222222;
    display: flex;

   

    .left{
        width: 70%;
        overflow-y: auto;
    }
    
    .right{
        width: 30%;
    }

}


.container-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .col{
        width: calc(100%/4);
        height: 350px;
        padding: 1rem;
    }
}

.img-playlist{
    border: 1px solid grey;
}

.fa-circle-play{
    z-index: 2;
    position: absolute;
    padding:10px;
    margin-top: 15rem;
    display: none;
}


.img-playlist :hover{
    margin-bottom: 30px;
}


.img-play{
    margin-top: 31px;
    border: 1px solid grey;
    width: 26rem;
}

.cl-gray{
    color: lightslategrey;
}

.text{
    color: white;
    font-size: 14px;
}

.btn-player{
    display: flex;
    color: white;
    padding: 20px;
}

.player {
  width: 50px;
  height: 50px;
  border: solid 10px white;
  border-radius: 100%;
  position: relative; 
  text-indent:-9999px;
  background-color: white;
}

.player span {
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid black;
  border-bottom: 15px solid transparent;
  position:absolute;
  top:20%;
  left:34%;    
}

.play-from{
   width: 250px;
   margin-left: 50px;
   margin-top: -20px;
}

.play-from-mini{
    display: none;
}

.btn{
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 8px;
}

.btn-album{
   height: 40px;
   margin-left: 40px;
   border: 1px solid white;
    border-radius: 4px;
}

.btn-wishlist{
    background-color: #222222;
    border-radius: 4px;
    border: 1px solid white;
    height: 40px;
    margin-left: 40px;
    color: white;
}

.tracks-tm{
    color: white;
    margin-left: 40px;
    margin-top: 30px;
}

.released{
    display: none;
}

.img-p-mini{
  display: none;
}

.btn-follow{
   display: none;
}

/* tablet */

@media screen and (max-width: 744px){
    
    .container-flex{
 
        .col{
           width: calc(100%/2);
           padding: 1rem;
        }
    }
    
    
    .col-none{
        display: none;
    }

    .play-from{
       display: none;   
    }
    .play-from-mini{
         display: flex;
    }

    .btn-album{
        width: 170px;
    }
    
    .btn-wishlist{
        width: 170px;
    }
    
    .tracks-tm{
        font-size: 14px;
    }
    
    .released{
        display: flex;
    }
    
    .img-p-mini{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        gap: 10px;
        color: white;
    }
    
    .img-profilo{
        width: 50px;
        border-radius: 100%;
    }

    
    .btn-follow{
        display: flex;
        
    }

}

/* mobile */

@media screen and (max-width: 600px){
    
    .top{
        justify-content: flex-start;
        
        
        .logo{
            height: 40px;        
        }
    
        .search-ms{
            width: 150px;
            background-color: #222222;
        }

        .btn-navbar{
            margin-left:35px;
        }
    }

    .add-gn{
        width: 500px;
    }

    .right{
        display: none;
    }
        
    .bottom{
        width: 900px;
    }
    

     .container-flex{
        width: 600px;
         .col{
             padding: 10px;
             width: calc(100%/2);
        }
    }



}